.block {
            width: 100px;
            height: 100px;
            margin: 20px;
            text-align: center;
            line-height: 100px;
            font-size: 18px;
            color: white;
            margin: 0 auto;

        }
        .red_block {
            background-color: gray;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif
        }
        .green_block {
            margin-top: 10px;
            background-color: gray;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }